/* Margin's start */

.margin-10{
    margin: 0.1em;
}

.margin-20{
    margin: 0.2em;
}

.margin-50{
    margin: 0.5em;
}

.margin-100{
    margin: 1em;
}

.margin-150{
    margin: 1.5em;
}

.margin-200{
    margin: 2em;
}

/* Margin's end */